---
# defaults file for agnosticv

default_description: |-
  Missing description, please define catalog_description in agnosticv
default_message: |-
  Missing message, please define catalog_message in agnosticv

default_labels:
  generated_by: agnosticv

repo_path: /opt/ansible/agnosticv/{{ url | b64encode }}
output_dir: /tmp/output_dir

babylon_anarchy_governor_repo: https://github.com/redhat-gpte-devopsautomation/babylon_anarchy_governor.git
babylon_anarchy_governor_version: master

babylon_aws_sandbox_repo: https://github.com/redhat-gpte-devopsautomation/babylon_aws_sandbox.git
babylon_aws_sandbox_version: master

gpte_reporting: false
babylon_gpte_reporting_repo: https://github.com/redhat-gpte-devopsautomation/babylon_gpte_reporting.git
babylon_gpte_reporting_version: master

# AgnosticS
babylon_agnostics_repo: https://github.com/redhat-cop/babylon_agnostics.git
babylon_agnostics_version: main

# Merge strategy of variables
# How lists are merged. Possible values: replace, keep, append, prepend, append_rp, prepend_rp
# Strategy for the __meta__ dictionary:
meta_list_merge: append
# Strategy for the rest of the vars:
all_vars_list_merge: replace

#  recursive=True parameter to not only override keys in the first hash, but also recurse into nested hashes and merge their keys too
meta_recursive_merge: true
all_vars_recursive_merge: false
