apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "agnosticv.name" . }}
  namespace: {{ include "agnosticv.namespaceName" . }}
  labels:
    {{- include "agnosticv.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "agnosticv.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "agnosticv.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "agnosticv.serviceAccountName" . }}
      containers:
        - name: {{ include "agnosticv.name" .  }}
          image: {{ include "agnosticv.image" . | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--leader-election-id"
            - "agnosticv-operator"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: ANARCHY_NAMESPACE
            value: {{ .Values.anarchy.namespace }}
          resources:
            {{- toYaml .Values.resources.ansible | nindent 12 }}
      serviceAccountName: {{ include "agnosticv.name" . }}
      volumes:
        - name: runner
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
