---
- block:
    - debug:
        msg: |
          {{ agnosticv_path }} > {{ account }} > {{ catalog_item }} > {{ stage }}

    - include_tasks: include_vars.yml
    - include_tasks: generate_catalog_item_tasks.yml

  rescue:
    - debug:
        msg: |
          FAIL {{ agnosticv_path }} > {{ account }} > {{ catalog_item }} > {{ stage }}

    - when:
        - google_chat_webhook_url is defined
        - r_catalogitems.stderr_lines | length > 0
      url:
        uri: "{{ google_chat_webhook_url }}"
        method: POST
        body_format: json
        body:
          text: |-
            FAIL {{ url }} > {{ account }} > {{ catalog_item }} > {{ stage }}
