---
- block:
    - debug:
        msg: |
          {{ agnosticv_path }} > {{ account }} > {{ catalog_item }} > {{ stage }}

    - include_tasks: include_vars.yml
    - include_tasks: generate_catalog_item_tasks.yml

  rescue:
    - debug:
        msg: |
          FAIL {{ agnosticv_path }} > {{ account }} > {{ catalog_item }} > {{ stage }}

    - name: Set flag_fail to true
      set_fact:
        flag_fail: true

    - name: Save catalog item to retry file
      lineinfile:
        path: "{{ retry_log_file }}"
        line: "{{ c_i }}"

    - name: Save error to log file
      lineinfile:
        path: "{{ error_log_file }}"
        line: "{{ _line }}"
      loop_control:
        loop_var: _line
      loop:
        - >-
          FAIL {{ agnosticv_path }}
          > {{ account }}
          > {{ catalog_item }}
          > {{ stage }}
        - ""
        - task {{ ansible_failed_task }}
        - ""
        - "{{ ansible_failed_result }}"
