---
apiVersion: babylon.gpte.redhat.com/v1
kind: CatalogItem
metadata:
  name: {{ _name | to_json }}
  namespace: {{ _namespace | to_json }}
  annotations:
    babylon.gpte.redhat.com/description: {{ _description | to_json }}
    babylon.gpte.redhat.com/descriptionFormat: {{ _description_format | to_json }}
    babylon.gpte.redhat.com/displayName: {{ _catalog.display_name | default(_name) | to_json }}
    babylon.gpte.redhat.com/icon: {{ _icon | to_json if _icon is string else _icon | to_json | to_json }}
    babylon.gpte.redhat.com/keywords: {{ _catalog.keywords | default([]) | join(',') | to_json }}
{% if _ops_annotation %}
    babylon.gpte.redhat.com/ops: {{ _ops_annotation | to_json | to_json }}
{% endif %}
{% if _total_ratings_annotation != '' %}
    babylon.gpte.redhat.com/totalRatings: {{ _total_ratings_annotation | to_json }}
{% endif %}
{% for _component in vars.merged_vars.__meta__.components | default([]) %}
{%   if _component.display_name is defined %}
    babylon.gpte.redhat.com/displayNameComponent{{ loop.index0 }}: {{ _component.display_name | to_json }}
{%   endif %}
{% endfor %}
  labels:
    babylon.gpte.redhat.com/category: {{ _catalog.category | default(default_category) | to_json }}
{%   for _label_k, _label_v in default_labels.items() %}
    {{ _label_k }}: {{ _label_v | to_json }}
{%   endfor %}
{%   for _label_k, _label_v in (_catalog.labels | default({})).items() %}
    babylon.gpte.redhat.com/{{ _label_k }}: {{ _label_v | to_json }}
{%   endfor %}
{%   if _stage in ['dev','test','prod','event'] %}
    babylon.gpte.redhat.com/stage: {{ _stage | to_json }}
{%   endif %}
{%   if _disabled_label != '' %}
    babylon.gpte.redhat.com/disabled: {{ _disabled_label | to_json }}
{%   endif %}
{%   if _rating_label != '' %}
    babylon.gpte.redhat.com/rating: {{ _rating_label | to_json }}
{%   endif %}
{% if _current_resource_version | default('') != '' %}
  resourceVersion: "{{ _current_resource_version }}"
{% endif %}
spec:
{% if vars.merged_vars.__meta__.access_control is defined %}
  accessControl:
{%   if vars.merged_vars.__meta__.access_control.allow_groups is defined %}
    allowGroups: {{ vars.merged_vars.__meta__.access_control.allow_groups | to_json }}
{%   endif %}
{%   if vars.merged_vars.__meta__.access_control.deny_groups is defined %}
    denyGroups: {{ vars.merged_vars.__meta__.access_control.deny_groups | to_json }}
{%   endif %}
{%   if vars.merged_vars.__meta__.access_control.view_only_groups is defined %}
    viewOnlyGroups: {{ vars.merged_vars.__meta__.access_control.view_only_groups | to_json }}
{%   endif %}
{% endif %}
{% if _bookbag.image is defined or _bookbag.imageBuild is defined %}
  bookbag:
{%   if _bookbag.auth is defined %}
    auth: {{ _bookbag.auth | to_json }}
{%   endif %}
{%   if _bookbag.image is defined %}
    image: {{ _bookbag.image | to_json }}
{%   endif %}
{%   if _bookbag.imageBuild is defined %}
    imageBuild: {{ _bookbag.imageBuild | to_json }}
{%   endif %}
{%   if _bookbag.openshift_console is defined %}
    openShiftConsole: {{ _bookbag.openshift_console | bool | to_json }}
{%   endif %}
{%   if _bookbag.role is defined %}
    role: {{ _bookbag.role | to_json }}
{%   endif %}
{% endif %}
  lastUpdate: {{ _last_update | to_json }}
  lifespan:
    default: {{ _lifespan_default | to_json }}
    maximum: {{ _lifespan_maximum | to_json }}
    relativeMaximum: {{ _lifespan_relative_maximum | to_json }}
{% if _info_message_template_adoc != '' or _service_ready_message_template_html_j2 != '' or _service_deleted_message_template_html_j2 != '' %}
  messageTemplates:
{%   if _info_message_template_adoc != '' %}
    info:
      template: {{ _info_message_template_adoc | to_json }}
      templateFormat: asciidoc
      outputFormat: html
{%   endif %}
{%   if _service_ready_message_template_html_j2 != '' %}
    serviceReady:
      template: {{ _service_ready_message_template_html_j2 | to_json }}
      templateFormat: jinja2
      outputFormat: html
{%   endif %}
{%   if _service_deleted_message_template_html_j2 != '' %}
    serviceDeleted:
      template: {{ _service_deleted_message_template_html_j2 | to_json }}
      templateFormat: jinja2
      outputFormat: html
{%   endif %}
{%   if _start_complete_message_template_html_j2 != '' %}
    startComplete:
      template: {{ _start_complete_message_template_html_j2 | to_json }}
      templateFormat: jinja2
      outputFormat: html
{%   endif %}
{%   if _stop_complete_message_template_html_j2 != '' %}
    stopComplete:
      template: {{ _stop_complete_message_template_html_j2 | to_json }}
      templateFormat: jinja2
      outputFormat: html
{%   endif %}
{% endif %}
{% if _catalog.multiuser | default(false) | bool %}
  multiuser: true
{% endif %}
{% if _catalog.workshopUiDisabled | default(false) | bool %}
  workshopUiDisabled: true
{% endif %}
{% if _catalog.parameters is defined %}
  parameters: {{ _catalog.parameters | to_json }}
{% endif %}
{% if _provision_time_estimate != '' %}
  provisionTimeEstimate: {{ _provision_time_estimate | to_json }}
{% endif %}
  resources:
{% for _component in vars.merged_vars.__meta__.components | default([]) %}
  - name: {{ _component.name | default(_component.item | regex_replace('^.*/', '') | replace('_', '-') | lower) }}
    provider:
      apiVersion: poolboy.gpte.redhat.com/v1
      kind: ResourceProvider
      name: {{ _component.item | replace('_', '-') | replace('/', '.') | lower }}.{{ stage }}
      namespace: {{ poolboy_namespace | to_json }}
{% endfor %}
{% if None != vars.merged_vars.__meta__.deployer.type | default(None) %}
  - name: {{ _component.name | default(catalog_item | replace('_', '-') | lower) }}
    provider:
      apiVersion: poolboy.gpte.redhat.com/v1
      kind: ResourceProvider
      name: {{ _name | to_json }}
      namespace: {{ poolboy_namespace | to_json }}
{% endif %}
  runtime:
    default: {{ merged_vars.__meta__.runtime.default | default(resource_provider_runtime_default) | to_json }}
    maximum: {{ merged_vars.__meta__.runtime.maximum | default(resource_provider_runtime_maximum) | to_json }}
{% if _catalog.terms_of_service is defined %}
  termsOfService: {{ _catalog.terms_of_service | to_json }}
{% endif %}
{% if _catalog.user_data is defined %}
  userData: {{ _catalog.user_data | to_json }}
{% endif %}
