---
apiVersion: template.openshift.io/v1
kind: templates
metadata:
  name: {{ _name | to_json }}
  annotations:
    description: {{ merged_vars.__meta__.catalog.description | d(default_description) | to_json }}
    openshift.io/display-name: {{ merged_vars.__meta__.catalog.display_name| default(_name) | to_json }}
    openshift.io/long-description: {{ merged_vars.__meta__.catalog.long_description | d('') | to_json }}
    template.openshift.io/bindable: "false"
  resourceVersion: "{{ current_resource_version }}"
  openshift.io/provider-display-name: Red Hat, Inc.
  labels:
    gpte.redhat.com/agnosticv: "true"
  tags: quickstart,babylon,{{ account | replace('_', '-') }},{{ merged_vars.__meta__.catalog.tags |  default([]) | join(',') }}
message: {{ merged_vars.__meta__.catalog.message | d(default_message) | to_json }}
objects:
- apiVersion: poolboy.gpte.redhat.com/v1
  kind: ResourceClaim
  metadata:
    generateName: {{ _name }}-
  spec:
    resources:
    - template:
        apiVersion: anarchy.gpte.redhat.com/v1
        kind: AnarchySubject
        metadata:
          annotations:
            poolboy.gpte.redhat.com/resource-provider-name: babylon
          generateName: {{ _name }}-
          labels:
            governor: {{ _name }}
        spec:
          governor: {{ _name }}
{% if vars.merged_vars.__meta__.catalog.parameters | default(None) %}
          parameters:
{%   for param in vars.merged_vars.__meta__.catalog.parameters %}
            {{ param.name | lower }}: {{ '${{' ~ param.name ~ '}}' }}
{%   endfor %}
{% else %}
          parameters: {}
{% endif %}

parameters: {{ merged_vars.__meta__.catalog.parameters | d([]) | to_json }}
labels: {{ default_labels | combine(merged_vars.__meta__.catalog.labels | d({})) | to_json }}
