---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyGovernor
metadata:
  namespace: {{ _namespace | to_json }}
  name: {{ _name }}
{% if current_resource_version | default('') != '' %}
  resourceVersion: "{{ current_resource_version }}"
{% endif %}
spec:
  ansibleGalaxyRequirements:
    collections: {{ babylon_anarchy_collections | to_json }}
    roles: {{ babylon_anarchy_roles | to_json }}
  pythonRequirements: |
    awscli==1.18.92
    packaging==20.9
    pymysql==0.9.3
  vars:
    # Flags to modify scheduled action behavior
    schedule_destroy_after_provision: {{ merged_vars.__meta__.schedule_destroy_after_provision | default('disabled') }}
    schedule_stop_after_provision: {{ merged_vars.__meta__.schedule_stop_after_provision | default(merged_vars.__meta__.idle_after_deploy ~ 'h' if merged_vars.__meta__.idle_after_deploy is defined else 'disabled') }}
    schedule_stop_after_start: {{ merged_vars.__meta__.schedule_stop_after_start | default(merged_vars.__meta__.idle_after_start ~ 'h' if merged_vars.__meta__.idle_after_start is defined else 'disabled') }}

    # Job variables to pass to Ansible Tower job runner (dark tower)
    job_vars:
      __meta__:
        tower:
          organization: {{ account | to_json }}
{% for key in vars.merged_vars if
  key not in vars.merged_vars.__meta__.catalog.parameters | default([]) | json_query('[].name') and
  key not in vars.merged_vars.__meta__.catalog.requester_parameters | default([]) | json_query('[].name') %}
      {{ key }}: {{ vars.merged_vars[key] | to_json }}
{% endfor %}

  varSecrets:
{% if vars.merged_vars.__meta__.ansible_control_plane.secret | default('') != '' %}
  - name: {{ vars.merged_vars.__meta__.ansible_control_plane.secret | to_json }}
    var: babylon_tower
{% else %}
  - name: babylon-tower
    var: babylon_tower
{% endif %}
{% for secret in vars.merged_vars.__meta__.secrets | default([]) %}
{%   if secret is mapping %}
{%     if 'name' in secret %}
{%       if secret.var | default('') != 'agnostics_mgr_access'
            or vars.merged_vars.__meta__.scheduler.enable | default(false) %}
  - name: {{ secret.name | replace('_', '-') | to_json }}
{%         if 'namespace' in secret %}
    namespace: {{ secret.namespace | to_json }}
{%         endif %}
    var: {{ secret.var | default('job_vars') | to_json }}
{%       endif %}
{%     endif %}
{%   else %}
  - name: {{ secret | replace('_', '-') | to_json }}
    var: job_vars
{%   endif %}
{% endfor %}

  subjectEventHandlers:
{% for __event in ('create', 'update', 'delete') %}
    {{ __event }}:
      roles:
{%   for __role in babylon_anarchy_roles %}
      - role: {{ __role.name }}
{%   endfor %}
{% endfor %}

  actions:
{% for __action in anarchy_governor_standard_actions
 | union((merged_vars.__meta__.deployer.entry_points | default({})).keys() | list)
%}
    {{ __action }}:
      roles:
{%   for __role in babylon_anarchy_roles %}
      - role: {{ __role.name }}
{%   endfor %}
      finishOnSuccessfulRun: true
      callbackHandlers:
        complete:
          roles:
{%   for __role in babylon_anarchy_roles %}
          - role: {{ __role.name }}
{%   endfor %}
{% endfor %}

  removeFinishedActions:
    after: "{{ merged_vars.__meta__.anarchy.remove_finished_actions_after | default('12h') }}"
  removeSuccessfulRuns:
    after: "{{ merged_vars.__meta__.anarchy.remove_successful_runs_after | default('3h') }}"
