---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyGovernor
metadata:
  name: {{ _name }}
  namespace: anarchy-operator
  resourceVersion: "{{ current_resource_version }}"
spec:
  ansibleGalaxyRequirements:
    roles:
    - name: babylon_anarchy_governor
      src: {{ ('git+' ~ babylon_anarchy_governor_repo) | to_json }}
      version: {{ babylon_anarchy_governor_version | to_json }}
  vars:
    # Flags to modify scheduled action behavior
    schedule_destroy_after_provision: {{ merged_vars.__meta__.schedule_destroy_after_provision | default('disabled') }}
    schedule_stop_after_provision: {{ merged_vars.__meta__.schedule_stop_after_provision | default(merged_vars.__meta__.idle_after_deploy ~ 'h' if merged_vars.__meta__.idle_after_deploy is defined else 'disabled') }}
    schedule_stop_after_start: {{ merged_vars.__meta__.schedule_stop_after_start | default(merged_vars.__meta__.idle_after_start ~ 'h' if merged_vars.__meta__.idle_after_start is defined else 'disabled') }}

    # Job variables to pass to Ansible Tower job runner (dark tower)
    job_vars:
      __meta__:
        tower:
          organization: {{ account | to_json }}
{% for key in vars.merged_vars if
  key not in vars.merged_vars.__meta__.catalog.parameters | d([]) | json_query('[].name') %}
      {{ key }}: {{ vars.merged_vars[key] | to_json }}
{% endfor %}

  varSecrets:
  - name: babylon-tower
    var: babylon_tower
{% for secret in vars.merged_vars.__meta__.secrets | default([]) %}
{%   if secret is mapping %}
{%     if 'name' in secret %}
  - name: {{ secret.name | replace('_', '-') | to_json }}
    var: job_vars
{%       if 'namespace' in secret %}
    namespace: {{ secret.namespace | to_json }}
{%       endif %}
{%     endif %}
{%   else %}
  - name: {{ secret | replace('_', '-') | to_json }}
    var: job_vars
{%   endif %}
{% endfor %}

  subjectEventHandlers:
    create:
      roles:
      - role: babylon_anarchy_governor
    update:
      roles:
      - role: babylon_anarchy_governor
    delete:
      roles:
      - role: babylon_anarchy_governor

  actions:
    # anarchy_action_name
    provision:
      roles:
      - role: babylon_anarchy_governor
      callbackHandlers:
        # anarchy_action_name
        # anarchy_action_callback_name
        # anarchy_action_callback_data
        started:
          roles:
          - role: babylon_anarchy_governor
        complete:
          roles:
          - role: babylon_anarchy_governor
    stop:
      roles:
      - role: babylon_anarchy_governor
      callbackHandlers:
        started:
          roles:
          - role: babylon_anarchy_governor
        complete:
          roles:
          - role: babylon_anarchy_governor
    start:
      roles:
      - role: babylon_anarchy_governor
      callbackHandlers:
        started:
          roles:
          - role: babylon_anarchy_governor
        complete:
          roles:
          - role: babylon_anarchy_governor
    destroy:
      roles:
      - role: babylon_anarchy_governor
      callbackHandlers:
        started:
          roles:
          - role: babylon_anarchy_governor
        complete:
          roles:
          - role: babylon_anarchy_governor
